.graha-info {
    overflow-y: auto;
    // -ms-overflow-style: none;
    // scrollbar-width: none;
    width: 100%;
    // max-height: 50%;

    @media (min-width: 1000px) {
        & {
            max-height: 50%;
        } 
    }

    // &::-webkit-scrollbar {
    //     width: 0;
    // }

    table{
        overflow: scroll;
        border-collapse: collapse;
        width: 100%;
    }

    thead {
        text-align: left;
    }

    tr {
        text-align: center;
        // background-color: #6f5a7e;
        margin: 5px;
        height: 45px;
        // border-bottom: 5px solid #555;

        &:hover {
            background-color: #eee;;
        }

        &:not(:last-child) td {
            border-bottom: 1px solid #5d4387;
        }
    }

    td {
        padding: 15px;
    }
}