.header {
    background-color: #5d4387;
    box-shadow: 0 1rem 5rem rgba(0,0,0,.3);

    & > * {
        height: 100%;
    }

    &__control-icon {
        font-size: 2.5rem;
        color: #e1e1e1;
        cursor: pointer;
    }
}