.kundali {
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
}

.line {
    stroke-width: 1px;
    stroke: #ecce6de5;
}

.sign {
    fill: #e5e5e5;
    font-size: 90%;
}

.planet {
    fill: #f1f1f1;
    font-size: 100%;
}

.rect {
    fill: #3d206d;
}