.kundali {
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
}

.line {
    stroke-width: 2px;
    stroke: #555;
}

.sign {
    fill: #e5e5e5;
    font-size: 15px;
}

.planet {
    fill: #f1f1f1;
    font-size: 20px;
}

.rect {
    fill: #3d206d;
}