@import "./assets/sass/variables";
@import "./assets/sass/utils";

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  @media only screen  and (max-width: $breakpoint-xxl) {
    & {
      font-size: 62.5%;
    }
  }

  @media only screen  and (max-width: $breakpoint-xl) {
    & {
      font-size: 56.25%;
    }
  }

  @media only screen  and (max-width: $breakpoint-lg) {
    & {
      font-size: 56.25%;
    }
  }

  @media only screen  and (max-width: $breakpoint-md) {
    & {
      font-size: 56.25%;
    }
  }

  @media only screen  and (max-width: $breakpoint-sm) {
    & {
      font-size: 47%;
    }
  }

  @media only screen  and (max-width: $breakpoint-xs) {
    & {
      font-size: 43.75%;
    }
  }

  @media only screen  and (min-width: $breakpoint-xxl) {
    & {
      font-size: 68.75%;
    }
  }


}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  // overflow: hidden;

  & .header {
    flex-basis: 5%;
  }

  & .main-content {
    padding-top: 1%;
    flex-basis: 90%;
  }
}