.App {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100vh;
}

.toolbar {
  width: 100%;
  background-color: blueviolet;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
  height: 75px;
  margin-bottom: 25px;
}

.container {
  display: flex;
}