.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  width: 100%;
  /* background-color: #916dd5; */
  background-color: #0fabbc;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
  height: 75px;
  margin-bottom: 25px;
}

.content {
  display: flex;
}