@import "./../../assets/sass/variables";

.grid-container {
    display: grid;
    // @media only screen and (max-width: $breakpoint-xs) {
    //     & {
    //         grid-template-columns: 1fr !important;
    //         grid-template-rows: 1fr !important;
    //     }
    // }
    width: 100%;
    height: 100%;
}