
// COLORS
$color-primary-white: #e1e1e1;
$color-primary: #5d4387;


// BREAKPOINTS

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;